.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c9cf;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header_logo {
  height: 60px;
}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_menu {
  margin: 5px;
}

.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_search {
  width: 300px;
  height: 36px;
}

.header_login {
  margin: 10px;
}

.header_signUp {
  padding-right: 90px;
}

.home {
  font: "RobotolnCjk";
  font-family: RobotolnCjk, "Noto Sans KR", "Apple SD GothicNeo", "NanumGothic",
    "Malgun Gothic";
}

.home_p {
  font-size: 18px;
  font-weight: bold;
}

.movie_Container {
  display: inline-block;
  margin: 0px 8px;
}

.movie_Box {
  position: relative;
  top: -30px;
}

.movie_Rank {
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  position: relative;
  top: 35px;
  left: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #000000c4;
  border-radius: 4px;
}

.movie_img {
  border-radius: 3px;
}

.movie_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #292a32;
}

.movie_prodYear {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #292a32;
}

.movie_audi {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #74747b;
}
